body{
	background-color:#222;
	font-family:'Lato', sans-serif;
}

.nav{
	background-color:rgba(0,0,0,.5);
	font-size:1.5em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-pills a{
	color:rgba(255,255,255,0.75);
}

.nav-pills li.active a{
	background-color:rgba(255,255,255,.75);
	color:black;
	border-radius:0;
}