body{
	background-color:#262732;
	font-family:'Lato', sans-serif;
}

//body * {
	border: solid white 1px;
}

.nav{
	//background-color:rgba(0,0,0,.5);
	//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top:10px;
	font-size:1.5em;
	display:block;
}
.nav-pills a{
	color:rgba(255,255,255,1);
}

.nav li{
	padding: 5px 0px 5px 15px;
}

.nav-pills li.active{
	background-color:#1ECA91;
	color:black;
	border-radius:0;
	width:100%;
}

.navHeader{
	font-size:.8em;
	color:white;
}


span.phonetic{
	color:rgba(150,150,150,.8);
	font-size:1.5em;
	padding:0px 0 5px 10px;
}
h1.myName{
	font-size:200%;
	color:white;
}

hr{
	border-top:1px solid grey;
	width:100%;
}


img.myPic{
	border-radius:50%;
	width:35%;
	border:solid white 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top:15px;
}

span.myJob{
	color:white;
	font-size:200%;	
}

div.myName, div.myPic, div.myJob{
	text-align: center;
}

.block{
	background-color:#2E2F3A;
	padding:10px 10px 20px 10px;
	text-align: center;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.block p{
	margin:0px 0 15px 0;
	padding:0;
	color:white;
	font-size:150%;
}
.totalBar{
	width:100%;
	height:40px;
	background-color:#383947;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	border-radius:3px;
}

.progressBar{
	height:40px;
	margin:10px 0 10px 0;
	border-radius:3px;
}

.progressBar.strategy{
	width:90%;
	background-color:#E86675;
}

.progressBar.dataAnalytics{
	width:80%;
	background-color:#A085FF;
}

.progressBar.programming{
	width:60%;
	background-color:#E4D737;
}

.progressBar.changeManagement{
	width:75%;
	background-color:#40E0AD;
}

.progressBar span{
	color:#383947;
	line-height: 40px;
	font-weight: bold;
}